.venv/
venv/
env/
ENV/
.env
*.env
!.env.example
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.log
*.sqlite3
*.db
*.bak
*.swp
*.tmp
*.temp
*.DS_Store
Thumbs.db
.vscode/
.idea/
dist/
build/
*.egg-info/
.eggs/
**/docker-compose.override.yml
**/docker-compose.local.yml
state.json
versions/
*.tar
*.zip
*.gz
